<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Endpoints</title>
</head>
<body>
    <h1>API Endpoint Navigation</h1>
    <ul>
        <li><a href="/authentication/login/">Authentication - Login</a></li>
        <li><a href="/authentication/logout/">Authentication - Logout</a></li>
        <li><a href="/qr-code-scan/">Scan QR Code</a></li>
        <li><a href="/events/create/">Create Event</a></li>
        <li><a href="/events/list/">List Events</a></li>
        <li><a href="/events/details/?event_id=1">Event Details (Participants)</a></li>
        <li><a href="/events/check-in/">Manual Participant Check-in</a></li>
        <li><a href="/participants/1/create/">Add new Participant to event with id: 1</a></li>
    </ul>
</body>
</html>

